Source: libmcp23s17
Section: libraries
Priority: extra
XBSC-Group: IO
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libmcp23s17
Provides: MCP23S17.h
Architecture: all
Description: MCP23S17 library

